@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
    /* font-family: 'Raleway', sans-serif !important;s */
}

body {
    padding-bottom: 20px;
}

label {
    font-weight: 400;
    letter-spacing: 1px;
}

.landing mat-grid-tile .mat-figure {

  padding: 0 50px;
}

.mat-h1 {
  font-weight: bold;
}

.full-width {
  width: 100%;
}

.form-control, .form-control:focus {
    border: none;
    -webkit-appearance: none;
    box-shadow: 0px 6px 27px 0px rgba(0,0,0,.075);
    border-radius: 0;
    padding: 18px 20px;
}

.error {
    -webkit-appearance: none;
    color: #f00 !important;
}

textarea {
    resize: none;
}

.btn-default {
    -webkit-appearance: none;
    box-shadow: 0px 3px 0px 2px rgba(0,0,0,.075);
    border: none;
    transition: all 0.7s;
    padding: 4px 30px;
    margin: auto 20px;
}

.btn-default:hover {
    -webkit-appearance: none;
    box-shadow: 0px 7px 0px 2px rgba(0,0,0,.075);

    background-color: #fff;
    transition: all 0.7s;
}

.btn-default:focus {
    outline: none !important;
    background-color: #fff;
}

.file-control {
    position: relative;
    padding-top: 7px;
    padding-bottom: 7px;
    overflow: hidden;
    font-size: 12px;
}

.file-control .icon {
    color: #566BFF;
}

.file-control input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.file-control span {
    color: #999;
}

.select-group {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
}

.select-group .btn-default {
    padding: 4px;
    box-shadow: 0px 2px 0px 1px rgba(0,0,0,.075);
    -webkit-appearance: none;
    display: inline-block;
}

.select-group label {
    margin-right: 40px;
    float: left;
    color: #999;
}

@media (max-width: 900px) {
    .select-group label {
        margin-right: 0;
    }
    .select-group .btn-default {
        margin: auto 9px;
    }
}

.checkbox-group .btn-default, .checkbox-group .btn-default input {
    width: 35px;
    height: 30px;
    position: relative;
}

.checkbox-group .btn-default input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.cards-container {
    padding: 2% 8%;
}

.cards-container .card {
    -webkit-appearance: none; /* For stupid ios browsers to show the box-shadow */
    box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.075);
    padding: 20px 40px;
    margin: 30px 0;
}

.mat-card-title {
    font-weight: bold;
    font-size: 22px !important;
    /* margin-bottom: 20px; */
}

.mat-card-content {
    font-size: 16px;
}

.page-title {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 80px;
}

/* Loading */

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    top: 35vh;
    left: 33%;
  }

  @media (max-width: 900px) {
    .lds-ellipsis {
        left: 10%;
    }
  }

  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #566bff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 55px;
    animation: lds-ellipsis1 1s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 105px;
    animation: lds-ellipsis2 1s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 178px;
    animation: lds-ellipsis2 1s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 215px;
    animation: lds-ellipsis3 1s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }