<mat-sidenav-container (backdropClick)="sidenav.open()" (window:resize)="updateHeight($event)">
  <mat-sidenav #sidenav role="navigation" autoFocus="false">
    <div class="navbar-header hidden-sm hidden-xs">
        <a class="navbar-brand" [routerLink]="['/']"><img src="./assets/logo.png" alt="Honest Notes" (click)="onLinkClick()"></a>
      </div>
      <div class="collapse-nav" id="co1lapsed-nav">
    
        <div class="collapsed-nav-content">
          
          <div class="navbar-settings">
            <a class="profile-picture" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/profile']"><img src="{{avatarUrl}}" alt="Profile Picture" (click)="onLinkClick()"></a>
            <div class="settings">
              <a [routerLink]="['/settings']" (click)="onLinkClick()">
                <fa-icon [icon]="faCog"></fa-icon>
              </a>
    
            </div>
          </div>
    
          <div class="search">
            <input type="text" [(ngModel)]="search" class="form-control" placeholder="Search..." (keyup)="onSearch()" (keydown.enter)="onLinkClick()">
          </div>
    
          <div class="nav-body">
            <div class="nav-item">
              <a (click)="updateUnread()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/']" (click)="onLinkClick()">Home</a>
            </div>
            
            <div class="nav-item">
              <a (click)="updateUnread()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/messages']" (click)="onLinkClick()">Messages <div *ngIf="unseen != 0" class="unread">{{unseen}}</div></a>
            </div>
    
            <div class="nav-item">
              <a (click)="updateUnread()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/feedback']" (click)="onLinkClick()">Send Feedback</a>
            </div>
    
            <div class="nav-item">
              <a (click)="logOut()" href="#">Log out</a>
            </div>
    
          </div>
    
          <div class="footer">
            <p>All rights reserved to <a href="http://islamelbanna.info" target="_blank">Islam Mohamed</a></p>
            <a href="#" (click)="onLinkClick()">Terms of use</a>
          </div>
        </div>
      </div>
  </mat-sidenav>
  <mat-sidenav-content>
      <nav class="visible-sm visible-xs">
        <a class="navbar-brand" [routerLink]="['/']"><img src="./assets/logo.png" alt="Honest Notes"></a>
          <button (click)="sidenav.toggle()">
              <fa-icon [icon]="faBars"></fa-icon>
          </button>
      </nav>
      <div class="page-content">
          <router-outlet></router-outlet>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>
  <!-- <mat-sidenav-content>
    <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p>
    <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p>
    <p>Events:</p>
    <div class="example-events">
      <div *ngFor="let e of events">{{e}}</div>
    </div>
  </mat-sidenav-content> -->