<div class="cards-container" *ngIf="ready === true">
  <div class="status text-center mat-display-1">
    <span [ngClass]="{'active': status === 'recieved'}" (click)="changeStatus('recieved')">Recieved</span> | <span [ngClass]="{'active': status === 'sent'}" (click)="changeStatus('sent')">Sent</span>
  </div>

  <div *ngIf="status === 'recieved'" class="recieved">
      <mat-card *ngFor="let message of recieved" role="group">
          <mat-card-content>
              <p>{{message.content}}</p>
              <p class="mat-caption">{{message.sendDate.slice(0,-9).replace('T', ' at ')}}</p>
          </mat-card-content>
      </mat-card>
  </div>

  <div *ngIf="status === 'sent'" class="sent">
      <mat-card *ngFor="let message of sent" role="group">
        <mat-card-content>
            <p>{{message.content}}</p>
            <p class="mat-caption">To: {{message.recieverName}}</p>
            <p class="mat-caption">{{message.sendDate.slice(0,-9).replace('T', ' at ')}}</p>
        </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="lds-ellipsis" *ngIf="ready === false"><div></div><div></div><div></div><div></div></div>