<div class="cards-container">
  <div *ngIf="results.length != 0">
		<div *ngFor="let user of results">
			<a href="{{clientUrl}}{{user.username}}">
				<mat-card>
					<mat-card-header>
						<img mat-card-avatar src="{{user.avatarUrl}}" alt="{{user.fullname}}">
						<mat-card-title>{{user.fullname}}</mat-card-title>
						<mat-card-subtitle>{{user.username}}</mat-card-subtitle>
					</mat-card-header>
				</mat-card>
			</a>
		</div>
	</div>
	
	<div *ngIf="notFound == true">
		<h3>Not found!</h3>
	</div>

</div>
