img {
    width: 60px;
    height: 60px;
    display: inline-block;
    border-radius: 50%;
}

.title {
    display: inline-block;
    margin-left: 25px;
}

a, a:hover, a:focus, a:active, a:visited {
    color: inherit;
}