<div *ngIf="sent === false && loading === false">
  <div class="header text-center">
    <h3>We would like to hear from you!</h3>
    <p>Your feedback helps us to better service.</p>
  </div>

  <div class="content text-center">
    <flash-messages></flash-messages>
    <mat-card>
      <mat-card-content>
          <mat-form-field class="full-width">
              <textarea matInput [(ngModel)]="message" rows="10" placeholder="Tell us your feedback"></textarea>
          </mat-form-field>
      </mat-card-content>  
    </mat-card>
    <br>
    <button (click)="onSend()" mat-raised-button>Send</button>
  </div>
</div>

<div *ngIf="sent === true && loading === false">
    <div class="header text-center">
        <h3>Thank you!</h3>
        <p>Your message has been sent</p>
      </div>
</div>

<div class="lds-ellipsis" *ngIf="loading === true"><div></div><div></div><div></div><div></div></div>