<form [formGroup]="registerForm" (ngSubmit)="onFormSubmit()">
  <div class="steps">
    <span class="step" [ngClass]="{'active': step === 1}" (click)="changeStep(1)">1</span> | <span class="step" [ngClass]="{'active': step === 2}" (click)="nextStep()">2</span>
  </div>
  <flash-messages></flash-messages>
  <div *ngIf="step === 1">
    <div class="form-group">
      <input type="text" (keyup)="textValidation($event, 4)" ([ngModel])="fullname" formControlName="fullname" class="form-control" placeholder="Full name" required minlength="4">
    </div>

    <div class="form-group">
      <input type="email" ([ngModel])="email" (blur)="emailValidation($event)" (keyup)="emailValidation($event)" formControlName="email" class="form-control" placeholder="E-mail" required minlength="4">
    </div>

    <div class="form-group">
      <input type="password" (keyup)="textValidation($event, 6)" ([ngModel])="password" formControlName="password" class="form-control" placeholder="Password" required minlength="8">
    </div>
    <div class="modal-footer">
        <button [disabled]="!ready1" (click)="nextStep()" type="button" class="btn btn-default">Next</button>
    </div>
  </div>

  <div *ngIf="step === 2">
    <div class="form-group">
      <input type="text" (keyup)="textValidation($event, 4)" ([ngModel])="username" formControlName="username" class="form-control" placeholder="Username" required minlength="4">
    </div>

    <div class="form-group">
      <div class="form-control file-control">
          <fa-icon class="icon" [icon]="faCloudUploadAlt"></fa-icon> &nbsp;
          <span id="fileUploadLabel">Upload your profile picture</span>
        <input (change)="onFileSelected($event)" type="file" name="avatar" id="avatar" onchange="showFileName()" required>
      </div>
    </div>

    <div class="form-group">
      <div class="form-control select-group" id="birthDate">
        <label>Birth date: </label>

        <select ([ngModel])="birthDay" (blur)="standardValidation($event)" formControlName="birthDay" class="btn-default" (change)="setBirthDay($event)">
          <option value="">D</option>
          <option *ngFor="let day of days" [ngValue]="day">{{day}}</option>
        </select>

        <select ([ngModel])="birthMonth" (blur)="standardValidation($event)" formControlName="birthMonth" class="btn-default" (change)="setBirthMonth($event)">
          <option value="">M</option>
          <option *ngFor="let month of months" [ngValue]="month">{{month}}</option>
        </select>

        <select ([ngModel])="birthYear" (blur)="standardValidation($event)" formControlName="birthYear" class="btn-default" (change)="setBirthYear($event)">
          <option value="">Y</option>
          <option *ngFor="let year of years" [ngValue]="year">{{year}}</option>
        </select>

      </div>
    </div>
    
    <div class="form-group">
        <div class="form-control select-group checkbox-group" id="gender">
          <label>Gender:</label>
          <div class="btn-default">
            M
            <input type="radio" (click)="setGender('male')" formControlName="gender" id="male" value="M" onclick="checkbox_clicked(this)">
          </div>
          <div class="btn-default">
              F
              <input type="radio" (click)="setGender('female')" formControlName="gender" id="female" value="F" onchange="checkbox_clicked(this)">
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-default">Sign Up</button>
      </div>
    </div>
    <div class="done" *ngIf="done === true">
      <h3>Wohooo! You can now sign in to Honest-Notes.</h3>
    </div>
</form>