<div class="settings-container">
  <h3 class="page-title">Account Settings</h3>
  <div class="text-center">
    <flash-messages></flash-messages>
  </div>
  <mat-card style="min-height: 400px">
      <mat-card-content>
        
        <div class="col-sm-6">
          <div class="data">
            <mat-form-field class="full-width">
              <input matInput type="text" class="read" name="fullname" [(ngModel)]="fullname" placeholder="Full Name">
            </mat-form-field>
          </div>
          <div class="data">
            <mat-form-field class="full-width">
              <input matInput type="email" class="read" [(ngModel)]="email" placeholder="Email">
            </mat-form-field>
          </div>
          <div class="data">
            <mat-form-field class="full-width">
              <textarea matInput class="read" rows="2" [(ngModel)]="bio" placeholder="Bio"></textarea>
            </mat-form-field>
          </div>
        </div>
        
        <div class="col-sm-6">
      
          <div class="data">
            <button mat-raised-button style="width:100%" (click)="onChangePasswordClick()">Change Password</button>
          </div>
      
          <div class="password-form" *ngIf="changePassword === true">
            <div class="form-group">
              <input [(ngModel)]="currentPassword" type="password" name="current-password" id="current-password" class="form-control" placeholder="Current password">
            </div>
      
            <div class="form-group">
              <input [(ngModel)]="newPassword" type="password" name="new-password" id="new-password" class="form-control" placeholder="New password">
            </div>
      
              <div class="form-group">
                <input [(ngModel)]="verifyPassword" type="password" name="verify-password" id="verify-password" class="form-control" placeholder="Verify password">
              </div>
          </div>
        </div>
      </mat-card-content>
  </mat-card>
  
</div>

<div class="text-center">
  <button mat-raised-button (click)="onSave()">Save</button>
</div>
