<form (ngSubmit)="onFormSubmit()" >
  <flash-messages></flash-messages>
    <mat-form-field class="full-width">
        <input matInput [(ngModel)]="username" name="username" (blur)="validateInputs($event)" placeholder="Username or Email" >
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput [(ngModel)]="password" (blur)="validateInputs($event)" type="password" name="password" placeholder="Password">
    </mat-form-field>
    <div class="modal-footer">
      <button type="submit" mat-raised-button>Sign In</button>
    </div>
    <div class="cover" *ngIf="loading === true">
      <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    </div>
</form>